/* --------------------------- */
/* HORIZONTAL TABLETS */
/* --------------------------- */

@media only screen and (max-width: 940px) {
  /*------- GENERAL ------- */

  html {
    font-size: 56.6%;
  }

  /*------- FOOTER ------- */

  .footer__grid {
    row-gap: 6.2rem;
    column-gap: 2rem;
  }

  .footer__logo {
    margin-bottom: 3.2rem;
  }
}

/* --------------------------- */
/* TABLETS */
/* --------------------------- */

@media only screen and (max-width: 768px) {
  /*------- REUSABLE COMPONENTS ------- */

  .container {
    padding: 0 7.2rem;
  }

  .heading-1 {
    max-width: 20ch;
    font-size: 5rem;
  }

  .heading-2 {
    font-size: 3.5rem;
  }

  .hero__text {
    max-width: 65ch;
  }

  /*------- UTILITES CLASSES ------- */

  .grid-col-1-1,
  .grid-col-2-1,
  .grid-col-1-2 {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .grid-col-2-1 .col-img {
    order: 1;
  }

  /*------- HEADER ------- */

  .navbar {
    flex-wrap: wrap;
    overflow: hidden;
  }

  .navbar__box {
    flex-basis: 100%;
    order: 1;
    flex-direction: column;
    max-height: 0;
    transition: max-height 0.3s;
  }

  .navbar__box.active {
    max-height: 60rem;
  }

  .navbar__menu {
    flex-direction: column;
    gap: 0;
    text-align: center;
  }

  .navbar__cta {
    margin: 1.6rem 0;
  }

  .navbar__toggle {
    display: block;
  }

  .navbar__btn-toggle-icon.close,
  .navbar__toggle.active .navbar__btn-toggle-icon.open {
    display: none;
  }

  .navbar__toggle.active .navbar__btn-toggle-icon.close {
    display: block;
  }

  /*------- HERO ------- */

  .hero__img {
    display: block;
    max-width: 60%;
    margin: 0 auto;
  }

  /*------- SERVICES ------- */

  .heading-2.heading-services {
    max-width: 100%;
  }

  /*------- DESCRIPTION SECTIONS ------- */

  .heading-content,
  .paragraph--content {
    max-width: 100%;
  }

  /*------- FOOTER ------- */

  .footer__grid {
    grid-template-columns: repeat(3, 3fr);
    place-items: center;
    align-items: baseline;
  }

  .footer__newsletter {
    text-align: center;
  }

  .footer__text {
    margin: 0 auto 3.2rem auto;
  }

  .footer__newsletter {
    grid-column: 1 / -1;
  }
}

/* --------------------------- */
/* PHONES */
/* --------------------------- */

@media only screen and (max-width: 768px) {
  /* ------- REUSABLE COMPONENTS ------- */

  .container {
    padding: 0 3rem;
  }

  .heading-1 {
    max-width: 100%;
    font-size: 4.6rem;
  }

  /* ------- HEADER ------- */
  .hero-section {
    padding: 4.8rem 0;
  }

  .section-boost-business {
    padding: 7rem 0;
  }

  .hero__img {
    max-width: 100%;
  }

  /* ------- STATS ------- */

  .stats {
    flex-direction: column;
    gap: 3.2rem;
  }

  .stats__item:not(:last-child) {
    border: none;
  }

  /* ------- DOWNLOAD APP ------- */

  .download-box {
    padding: 4rem 2.6rem;
    overflow-x: hidden;
  }

  .download-box::after {
    top: 10rem;
    left: 70%;
  }
}
