/* --------------------------- */
/* HEADER SECTION */
/* --------------------------- */

.header {
  width: 100%;
  padding: 2.4rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.navbar__logo {
  height: 4rem;
}

.navbar__menu {
  display: flex;
  gap: 3.5rem;
}

.navbar__link:link,
.navbar__link:visited {
  display: inline-block;
  padding: 1.6rem 1.1rem;
  font-weight: var(--font-bold);
  color: var(--color-grey-light-2);
  transition: color 0.3s;
}

.navbar__link:hover {
  color: var(--color-primary);
}

.navbar__link:active {
  color: var(--color-primary-dark);
}

.navbar__cta:link,
.navbar__cta:visited {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-grey-light-1);
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navbar__cta:hover {
  background-color: var(--color-primary-dark);
}

.navbar__cta:active {
  background-color: var(--color-primary-light);
}

/* --------------------------- */
/* HERO SECTION */
/* --------------------------- */

.hero-section {
  padding: 6.4rem 0;
}

.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 3rem;
}

.hero__text {
  max-width: 45ch;
}

.hero__cta-box {
  display: flex;
  gap: 3.2rem;
  margin: 6.4rem 0;
}

.hero__plataforms-text {
  margin-bottom: 4.8rem;
  font-size: 1.5rem;
  color: var(--color-grey-light-2);
}

.hero__plataforms-images {
  display: grid;
  align-items: center;
  gap: 2.2rem;
  grid-template-columns: 1fr 1fr 2fr 1fr;
}

.hero__plataforms-plus {
  font-size: 1.9rem;
  font-weight: var(--font-medium);
  line-height: 1;
  color: var(--color-grey-light-2);
}

/* --------------------------- */
/* SERVICES */
/* --------------------------- */

.section-services {
  padding: 9.6rem 0;
  background-color: var(--color-grey-dark-2);
}

.service-description {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 6.4rem;
}

.heading-2.heading-services {
  max-width: 22ch;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.service-card {
  padding: 2.5rem 2.5rem;
  border: 1px solid #141414;
  border-radius: 1.2rem;
}

.service-card__icon {
  margin-bottom: 3.2rem;
}

.service-card__text {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: var(--color-grey-light-2);
}

/* --------------------------- */
/* BOOST YOUR BUSINESS SECTION */
/* --------------------------- */

.section-boost-business {
  padding: 12rem 0;
}

.heading-2.heading-boost-business {
  max-width: 30ch;
  margin: 0 auto;
  text-align: center;
}

/* -------------------------------------- */
/* FINANCIAL, AUTOMATIC & CROSS  SECTIONS */
/* -------------------------------------- */

.section-automatic-bookkeeping,
.section-croos-platform {
  margin: 1.8rem 0;
}

.col-content {
  padding-top: 5rem;
}

.heading-content {
  max-width: 16ch;
  margin-bottom: 3rem;
}

.paragraph--content {
  max-width: 42ch;
  margin-bottom: 4rem;
}

/* --------------------------- */
/* STATS SECTION */
/* --------------------------- */

.section-stats {
  padding: 4.8rem 0;
  background-color: var(--color-grey-dark-2);
  font-weight: 500;
  color: var(--color-grey-light-2);
}

.section-stats__title {
  margin-bottom: 4.8rem;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stats__item {
  text-align: center;
  flex-grow: 1;
}

.stats__item:not(:last-child) {
  border-right: 2px solid var(--color-grey-light-2);
}

.stats__number {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 4.2rem;
  font-weight: 600;
  color: var(--color-grey-light-1);
}

.stats__number::after {
  content: '';
  display: block;
  width: 4rem;
  height: 2px;
  margin: 5px auto;
  background-color: var(--color-grey-light-1);
}

/* --------------------------- */
/* TESTIMONIAL SECTION */
/* --------------------------- */

.section-testimonial {
  padding: 12.8rem 0;
}

.btn-arrow-container {
  display: flex;
  gap: 1.5rem;
}

.section-testimonial .grid {
  gap: 8rem;
}

.testimonial {
  padding: 3.6rem;
  border-left: 7px solid var(--color-primary);
  box-shadow: rgba(69, 133, 163, 0.1) 0px 16px 28px,
    rgba(92, 139, 170, 0.05) 0px 20px 32px;
}

.testimonial__text {
  margin-bottom: 3.8rem;
  font-weight: 600;
}

.testimonial__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial__user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial_name {
  font-size: 1.5rem;
  font-weight: var(--font-medium);
  color: var(--color-grey-dark-1);
}

.testimonial__user-photo {
  height: 3rem;
  border-radius: 5rem;
}

.testimonial__star {
  font-size: 2rem;
  color: #f9a418;
}

/* --------------------------- */
/* DOWNLOAD APP SECTION */
/* --------------------------- */

.section-download {
  padding: 6.4rem 0;
}

.download-box {
  position: relative;
  padding: 3.2rem 8rem;
  background-color: var(--color-primary);
}

.download-box.grid {
  place-items: center;
  gap: 5rem;
}

.download-box__img-box {
  position: relative;
  z-index: 1;
}

.download-box__rectangular-shape,
.download-box::before,
.download-box::after {
  content: '';
  position: absolute;
  display: block;
  width: 20rem;
  height: 13rem;
  background-color: var(--color-grey-light-1);
  opacity: 0.2;
}

.download-box__rectangular-shape {
  top: 0;
  left: 0;
}

.download-box::before {
  bottom: 0;
  right: 43%;
}

.download-box::after {
  top: 7%;
  left: 43%;
}

/* --------------------------- */
/* FOOTER */
/* --------------------------- */

.footer {
  padding: 9.6rem 0;
  color: var(--color-grey-light-1);
  background-color: var(--color-grey-dark-2);
}

.footer__grid {
  display: grid;
  grid-template-columns: 55fr repeat(3, 15fr);
  gap: 8rem;
}

.footer__logo {
  height: 6rem;
  margin-bottom: 10rem;
}

.footer__text {
  max-width: 25ch;
  margin-bottom: 4.8rem;
  font-size: 2.2rem;
  font-weight: var(--font-medium);
  letter-spacing: 1px;
  line-height: 2;
  text-transform: uppercase;
}

.footer__form {
  display: flex;
}

.footer__input {
  width: 30rem;
  padding: 1.9rem 1rem;
  outline-color: transparent;
  transition: outline-color 0.3s;
}

.footer__input:focus {
  outline-color: var(--color-primary-light);
}

.footer__input::placeholder {
  font-family: inherit;
  font-size: 1.8rem;
}

.footer__submit {
  padding: 0 1.5rem;
  font-size: 3rem;
  line-height: 0;
  color: var(--color-grey-light-1);
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer__submit:hover {
  background-color: var(--color-primary-dark);
}

.footer__heading {
  margin-bottom: 3.2rem;
  font-weight: var(--font-medium);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.4rem;
}

.footer__link:link,
.footer__link:visited {
  display: inline-block;
  font-size: 2.1rem;
  color: inherit;
  transition: color 0.2s;
}

.footer__link:hover,
.footer__link:active {
  color: var(--color-grey-light-2);
}

.footer__policies {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3.2rem;
}

.footer__link--small:link,
.footer__link--small:visited {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.footer__link__separator {
  font-size: 3.5rem;
}
